

@font-face { font-family: AV; src: url('../../assets/ASSETS/AvengersFont/AvengersFont.otf'); } 
@font-face { font-family: SW; src: url('../../assets/ASSETS/StarWarsFont/SW.otf') } 
@font-face { font-family: HP; src: url('../../assets/ASSETS/HarryPotterFont/HP.TTF'); } 
@font-face { font-family: TF; src: url('../../assets/ASSETS/TransformersFont/TransformersFont.ttf'); } 

[id*="card"] {
    font-family: arial;
}

[id*="btn1"] {
    font-family: HP;
}
[id*="btn2"] {
    font-family: SW;
}
[id*="btn3"] {
    font-family: AV;
}
[id*="btn4"] {
    font-family: TF;
}

[id*="btn5"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
[id*="btn6"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif9;
}
[id*="component2"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif9;
    font-size: 1.5vh;
    font-weight: bold;
    color: rgb(80, 80, 80);
}
[id*="component3"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif9;
    font-size:1.5vh;
    color: grey;
}
@media (min-width: 481px) and (max-width: 767px) {
    #grid1 {
        display: grid;
        grid-template-columns: repeat(22, 1fr);
        height: 5vh;
        color: grey;
        transition: .1s;
    }
    #card-container{
        width: 100vw;
        min-height: 50vh;
        overflow-X: hidden;
    
    }
    #card {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card1 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card2 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card3 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card4 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card5 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }    
    #card6 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }

    #component0 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }    
    
    #component01 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }
    #component02 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    } 
    #component03 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }
    #component04 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }
    #component05 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }
    #component06 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 40vw;
        height: 30vh;
    }
    #component1{
    
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        height: 50%;
  
    }
    #component3{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #component2{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #btn0 {
        color: grey;
        grid-column: 1 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn1 {
        color: grey;
        grid-column: 3 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn2 {
        color: grey;
        grid-column: 5 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn3 {
        color: grey;
        grid-column: 7 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn4 {
        color: grey;
        grid-column: 9 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn5 {
        color: grey;
        grid-column: 11 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #btn6 {
        color: grey;
        grid-column: 13 /span 2;
        font-size: 1.5vw;
        transition: .1s;
    }
    #input1 {
        color: grey;
        grid-column: 15 / span 8;
        font-size: .9vw;
        padding-left: 1vw;
        transition: .1s;
    }

}


@media (min-width: 768px) and (max-width: 1024px){
    #grid1 {
        display: grid;
        grid-template-columns: repeat(22, 1fr);
        height: 5vh;
        color: grey;
        transition: .1s;
    }
    #card-container{
        width: 100vw;
        min-height: 50vh;
        overflow-X: hidden;
    
    }
    #card {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card1 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card2 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card3 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card4 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card5 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }    
    #card6 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }

    #component0 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    }    
    
    #component01 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    }
    #component02 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    } 
    #component03 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width:30vw;
        height: 30vh;
    }
    #component04 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    }
    #component05 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    }
    #component06 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 30vw;
        height: 30vh;
    }
    #component1{
    
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        height: 50%;
  
    }
    #component3{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #component2{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #btn0 {
        color: grey;
        grid-column: 1 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn1 {
        color: grey;
        grid-column: 3 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn2 {
        color: grey;
        grid-column: 5 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn3 {
        color: grey;
        grid-column: 7 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn4 {
        color: grey;
        grid-column: 9 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn5 {
        color: grey;
        grid-column: 11 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn6 {
        color: grey;
        grid-column: 13 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #input1 {
        color: grey;
        grid-column: 15 / span 8;
        font-size: .9vw;
        padding-left: 1vw;
        transition: .1s;
    }

}


@media (min-width: 1025px) and (max-width: 1280px){
    #grid1 {
        display: grid;
        grid-template-columns: repeat(22, 1fr);
        height: 5vh;
        color: grey;
        transition: .1s;
    }
    #card-container{
        width: 100vw;
        min-height: 50vh;
        overflow-X: hidden;
    
    }
    #card {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card1 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card2 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card3 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card4 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card5 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }    
    #card6 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }

    #component0 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }    
    
    #component01 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component02 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    } 
    #component03 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component04 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component05 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component06 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component1{
    
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        height: 50%;
  
    }
    #component3{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #component2{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #btn0 {
        color: grey;
        grid-column: 1 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn1 {
        color: grey;
        grid-column: 3 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn2 {
        color: grey;
        grid-column: 5 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn3 {
        color: grey;
        grid-column: 7 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn4 {
        color: grey;
        grid-column: 9 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn5 {
        color: grey;
        grid-column: 11 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn6 {
        color: grey;
        grid-column: 13 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #input1 {
        color: grey;
        grid-column: 15 / span 8;
        font-size: .9vw;
        padding-left: 1vw;
        transition: .1s;
    }
}


@media (min-width: 1281px) {
    #grid1 {
        display: grid;
        grid-template-columns: repeat(22, 1fr);
        height: 5vh;
        color: grey;
        transition: .1s;
    }
    #card-container{
        width: 100vw;
        min-height: 50vh;
        overflow-X: hidden;
    
    }
    #card {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card1 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card2 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card3 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card4 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    #card5 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }    
    #card6 {
        display: inline-flex;
        flex-wrap: wrap;
        height: auto;
        margin: 1vh;
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
    }

    #component0 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }    
    
    #component01 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component02 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    } 
    #component03 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component04 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component05 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component06 {
        display: block;
        margin: 1vh;
        border: 1px solid grey;
         box-shadow: 3px 3px rgb(210, 210, 210);
        overflow: hidden;
        width: 18vw;
        height: 30vh;
    }
    #component1{
    
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        height: 50%;
  
    }
    #component3{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #component2{
        display: flex;
        justify-content: center;
        align-items: center;
         ;
        
    }
    #btn0 {
        color: grey;
        grid-column: 1 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn1 {
        color: grey;
        grid-column:3 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn2 {
        color: grey;
        grid-column: 5 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn3 {
        color: grey;
        grid-column: 7 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn4 {
        color: grey;
        grid-column: 9 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn5 {
        color: grey;
        grid-column: 11 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #btn6 {
        color: grey;
        grid-column: 13 /span 2;
        font-size: 1vw;
        transition: .1s;
    }
    #input1 {
        color: grey;
        grid-column: 15 / span 8;
        font-size: .9vw;
        padding-left: 1vw;
        transition: .1s;
    }

}