

@media (min-width: 4px) and (max-width: 751px) {
#container1 {

height: 36vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 751px) and (max-width: 1025px){
#container1 {

height: 39vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 1025px) and (max-width: 1281px){
#container1 {

height: 42vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 1281px) {
#container1 {

height: 45vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}