

@media (min-width: 481px) and (max-width: 767px) {
#container1 {

height: 36vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 768px) and (max-width: 1024px){
#container1 {

height: 39vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 1025px) and (max-width: 1280px){
#container1 {
min-height: 300px;
height: 42vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}


@media (min-width: 1281px) {
#container1 {

height: 45vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

}